  <div class="about" id="about">
    <div class="about-content">
      <h1><span class="title-styling">About</span></h1>
      <p class="about-copy">Juliette Bugbee is a Californian artist who has a passion for intricacy, detail, and beauty. His paper quillings consist of hundreds (sometimes thousands) of pieces of paper, each of which is individually cut, placed, and glued by hand into beautiful designs over a span of hundreds of hours. Luke's work has been featured in Adobe's Inspire Magazine, Bucketfeet.com, and Grafik Design Academy's yearly magazine based in Innsbruck, Austria. 
      </p>
    </div>
  </div>
