<div id="case-studies">
		<div class="case-study" id="case-study-variation-1">
			<div class="case-study-content">
				<div class="project-description" id="project-description-variation-1">
					<h2>Organization Chart</h2>
					<p> Organizational charts are an important way to communicate company information to your stakeholders in a clear and succinct way. Org charts are so often either overlooked or done poorly, with so much potential for visual and organizational improvements it was a designer’s paradise.</p>
					<a href="Case Studies/case-study-1" class="button">Read More</a></div>
				</div>
			</div>
		</div>
		<div class="case-study" id="case-study-variation-2">
			<div class="case-study-content">
				<div class="project-description" id="project-description-variation-2">
					<h2>Project Header</h2>
					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a class="button">Read More</a></div>
				</div>
			</div>
		</div>
		<div class="case-study" id="case-study-variation-1">
			<div class="case-study-content">
				<div class="project-description" id="project-description-variation-1">

					<h2>Project Header</h2>

					<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
					<a class="button">Read More</a></div>
				</div>
			</div>
		</div>	
	</div>
